header{
	background-color: #ebebeb;
	/*width: 960px;*/
	font-family: 'Arial', 'Helvectica Neue', Helvectica, sans-serif;
	font-size: 18px;
	margin: 0;
	padding: 0;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
	/*width: 960px;*/



}

body{
	background-color: #777;
	width: 960px;
}

nav{

	background-color: #ebebeb;
	margin: 10px;
	padding-top: 40px;
	padding-bottom: 40px;
	/*width: 960px;*/
	font-size: 18px;
	text-align: center;
}

aside{
	background-color: #ebebeb;
	float: right;
	text-align: center;
	margin: 10px;
	width: 50%;
}
#left{
	text-align: left;
	margin: 10px;
	background-color: #ebebeb;
	text-align: center;
	width: 50%;

}

#article{
	background-color: #ebebeb;
	margin: 10px;
	text-align: center;

}





footer{
	clear: both;
	background-color: #ebebeb;
	text-align: center;
	margin: 10px;
	padding-top: 40px;
	padding-bottom: 40px;
}